:root {
    --black:  #353535;
    --gray: #4f4f4f;
    --medium-gray: #737373;
    --light-gray: #c4c4c4;
    --orange: #f96855;
}


/* 

font-light: 300;
font-bold: 700;

accent: orange;

body-background: black;
menu-background: gray;

main-font-color: light-gray;
menu-active-color: light-gray;
menu-font-color: medium-gray;
link-color: accent; */

* { box-sizing: border-box; }

body {
    background: var(--black);
    color: var(--light-gray);
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.45;
    display: flex;
    flex-wrap: wrap;
}  

/* Nav Bar */

.sidebar {
    background: var(--gray);
    flex: 1 1 20%;
    min-width: 300px;
    padding: 3em;
}
  
.logo {
    text-transform: uppercase;
    margin-bottom: 2em;
    
    @media (min-width: 1500px) {
    margin-bottom: 5em;
    }
}

span {
    font-weight: 700;
}

.nav-item {
    color: var(--medium-gray);
    text-decoration: none;
    font-size: 1.7rem;
    display: inline-block;
    margin-right: 3em;
    @media (min-width: 1500px) {
      display: block;
      margin: 7vh 0;
    }
}

.active {
    color: var(--light-gray);
}

/* main content / grid area */

.main-content {
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
}

/* portfolio */

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.portfolio-item {
    background: var(--orange);
    color: var(--black);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    /* image alignment */

    font-size: 1.5em;
    background-size: cover;
    background-position: top left;

    background-color: var(--black);
    background-blend-mode: multiply;
    transition: all ease-in-out 300ms;
}

.portfolio-item:hover {
    background-blend-mode: initial;
    background-position: center;
}

.portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.large {
    grid-row: span 3;
    grid-column: span 3;
}

.portfolio-item.tall {
    grid-row: span 3;
    grid-column: span 2;
}

.portfolio-item.wide {
    grid-row: span 2;
    grid-column: span 3;
}

a {
    height: 100%;
    width: 100%;
}

.one {
    background-image: url(https://images.unsplash.com/photo-1561553543-e4c7b608b98d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

.two {
    background-image: url(https://images.unsplash.com/photo-1667478828745-0b3ec0c3f97a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1533&q=80);
}

.three {
    background-image: url(https://images.unsplash.com/photo-1605106925746-22f723ca945b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
}

.four {
    background-image: url(https://images.unsplash.com/photo-1611125832047-1d7ad1e8e48f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

.five {
    background-image: url(https://images.unsplash.com/photo-1507643179773-3e975d7ac515?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

.six {
    background-image: url(https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}